{% extends "service_manager/accounts/base.html" %}
{% block title %}ansible主机管理{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="{% url 'accounts:index' %}">系统首页</a>
    </li>
    <li>
        <a href="javascript: void (0);">ansible管理</a>
    </li>
    <li>
        主机管理
    </li>
</ul><!-- /.breadcrumb -->
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>主机管理
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Host Manage
        </small>
    </h1>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    模态框（Modal）标题
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <dl class="dl-horizontal">
                            <dt style="width: 80px;">主机名</dt>
                            <dd style="margin-left: 100px;">Item 1</dd>
                            <dt style="width: 80px;">操作系统</dt>
                            <dd style="margin-left: 100px;">Item 1</dd>
                            <dt style="width: 80px;">系统架构</dt>
                            <dd style="margin-left: 100px;">Item 1</dd>
                            <dt style="width: 80px;">磁盘空间</dt>
                            <dd style="margin-left: 100px;">Item 1</dd>
                        </dl>
                    </div>
                    <div class="col-xs-6">
                        <dl class="dl-horizontal">
                            <dt style="width: 80px;">CPU</dt>
                            <dd style="margin-left: 100px;">Item 1</dd>
                            <dt style="width: 80px;">内存</dt>
                            <dd style="margin-left: 100px;">Item 1</dd>
                            <dt style="width: 80px;">Swap空间</dt>
                            <dd style="margin-left: 100px;">Item 1</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <a target="_blank" class="btn btn-primary">
                    更多信息
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                {% if warning %}
                <div class="clearfix">
                    <div class="alert alert-warning no-margin alert-dismissable">
                        <button type="button" class="close"
                                data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>

                        <i class="ace-icon fa fa-exclamation-circle bigger-120"></i>
                        {{ warning }}
                    </div>
                </div>

                <div class="hr dotted"></div>
                {% endif %}

                {% if info %}
                <div class="clearfix">
                    <div class="alert alert-success no-margin alert-dismissable">
                        <button type="button" class="close"
                                data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>

                        <i class="ace-icon fa fa-check bigger-120"></i>
                        {{ info }}
                    </div>
                </div>

                <div class="hr dotted"></div>
                {% endif %}

                <form method="post">
                    {% csrf_token %}
                    {% if object_list %}
                    <table id="simple-table"
                           class="table  table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace"/>
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th>主机</th>
                            <th>端口</th>
                            <th>用户名</th>
                            <th>密码</th>
                            <th class="hidden-480">
                                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                加入时间
                            </th>
                            <th>操作</th>

                        </tr>
                        </thead>

                        <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td class="center">
                                <label class="pos-rel">
                                    <input type="checkbox" class="ace"
                                           name="_selected_action"
                                           value="{{ object.pk }}"/>
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td>
                                <a onclick="alertHostSystemInfo('{{ object.pk }}', '{{ object.host }}')">{{ object.host }}</a>
                            </td>
                            <td>{{ object.port }}</td>
                            <td>
                                {% if object.username %}
                                {{ object.username }}
                                {% else %}
                                未设置
                                {% endif %}
                            </td>
                            <td>******</td>
                            <td class="hidden-480">
                                {{ object.create_time }}
                            </td>
                            <td>
                                <div class="hidden-sm hidden-xs btn-group">
                                    <a class="btn btn-xs btn-success"
                                       href="#">
                                        <i class="ace-icon fa fa-refresh bigger-120"></i>
                                    </a>

                                    <a class="btn btn-xs btn-info"
                                       href="{% url 'accounts:ansible-host-change' object.pk %}">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </a>

                                    <a class="btn btn-xs btn-danger"
                                       href="{% url 'accounts:ansible-host-delete' object.pk %}">
                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                    </a>

                                    <button class="btn btn-xs btn-warning">
                                        <i class="ace-icon fa fa-flag bigger-120"></i>
                                    </button>
                                </div>

                                <div class="hidden-md hidden-lg">
                                    <div class="inline pos-rel">
                                        <button class="btn btn-minier btn-primary dropdown-toggle"
                                                data-toggle="dropdown"
                                                data-position="auto">
                                            <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                        </button>

                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                            <li>
                                                <a href="#"
                                                   class="tooltip-success"
                                                   data-rel="tooltip"
                                                   title="Edit">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#"
                                                   class="tooltip-error"
                                                   data-rel="tooltip"
                                                   title="Delete">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}

                    {% endif %}
                    <div class="row">
                        {% if object_list %}
                        <div class="col-xs-6">
                            <div class="pagination">
                                <a href="{% url 'accounts:ansible-host-add' %}"
                                   type="button"
                                   class="btn btn-sm btn-primary">
                                    新增主机
                                </a>
                                {% if object_list %}
                                <input class="hidden" name="post" value="">
                                <button type="submit"
                                        class="btn btn-sm btn-danger">
                                    批量删除
                                </button>
                                {% endif %}

                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="pull-right">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li>
                                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number}}">
                                            <i class="ace-icon fa fa-angle-double-left"></i>
                                            上一页
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="disabled">
                                        <a href="javascript: void(0);">
                                            <i class="ace-icon fa fa-angle-double-left"></i>
                                            上一页
                                        </a>
                                    </li>
                                    {% endif %}

                                    {% if page_obj.has_next %}
                                    <li>
                                        <a href="{{ request.path }}?page={{ page_obj.next_page_number}}">
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                            下一页
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="disabled">
                                        <a href="javascript: void(0);">
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                            下一页
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li class="disabled">
                                        <a href="javascript: void(0);">{{ page_obj }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-xs-6">
                            <div class="pagination">
                                <a href="{% url 'accounts:ansible-host-add' %}"
                                   type="button"
                                   class="btn btn-sm btn-primary">
                                    新增主机
                                </a>
                                {% if object_list %}
                                <input class="hidden" name="post" value="">
                                <button type="submit"
                                        class="btn btn-sm btn-danger">
                                    批量删除
                                </button>
                                {% endif %}

                            </div>
                        </div>
                        {% endif %}
                    </div><!-- /.span -->
                </form>
            </div><!-- /.row -->
        </div>
    </div>
</div>
{% endblock %}

{% block otherjs %}
<script>
    $('#ansible_manage').addClass('active open');
    $('#ansible-host-manager').addClass('active');
    var active_class = 'active';
    $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
        var th_checked = this.checked;//checkbox inside "TH" table header

        $(this).closest('table').find('tbody > tr').each(function () {
            var row = this;
            if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
            else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
        });
    });

    //select/deselect a row when the checkbox is checked/unchecked
    $('#simple-table').on('click', 'td input[type=checkbox]', function () {
        var $row = $(this).closest('tr');
        if ($row.is('.detail-row ')) return;
        if (this.checked) $row.addClass(active_class);
        else $row.removeClass(active_class);
    });

    /***************/
    $('.show-details-btn').on('click', function (e) {
        e.preventDefault();
        $(this).closest('tr').next().toggleClass('open');
        $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
    });
    /***************/


    /**
     //add horizontal scrollbars to a simple table
     $('#simple-table').css({'width':'2000px', 'max-width': 'none'}).wrap('<div style="width: 1000px;" />').parent().ace_scroll(
     {
       horizontal: true,
       styleClass: 'scroll-top scroll-dark scroll-visible',//show the scrollbars on top(default is bottom)
       size: 2000,
       mouseWheelLock: true
     }
     ).css('padding-top', '12px');
     */

    $("#myModal").on("hidden", function () {
        $(this).removeData("modal");
    });

    function getHostSystemInfo(pk) {
        var result = "";
        $.ajax({
            type: 'get',
            url: '/accounts/ansible/host/' + pk + '/system_info/',
            dataType: 'json',
            async: false,
            success: function (response_data) {
                result = response_data;
            }
        });
        return result;
    }

    function alertHostSystemInfo(pk, host) {
        var md = $('#myModal');
        md.modal({
            keyboard: true,
            backdrop: "static",
            show: true
        });
        var data = getHostSystemInfo(pk);
        md.find(".modal-header").html("主机详情："+host);

        md.find(".modal-footer").find("a").attr("href",
            '/accounts/ansible/host/' + pk + '/system_info/');

        var dl0 = md.find(".modal-body").find(".col-xs-6").eq(0);
        var dl1 = md.find(".modal-body").find(".col-xs-6").eq(1);
        dl0.find('dd').eq(0).html(data.data.ansible_facts.ansible_nodename);
        dl0.find('dd').eq(1).html(data.data.ansible_facts.ansible_lsb.description);
        dl0.find('dd').eq(2).html(data.data.ansible_facts.ansible_machine);

        var devices_html = "";
        var devices_mounts = data.data.ansible_facts.ansible_mounts;

        for (var i in devices_mounts){
            var size = devices_mounts[i].size_total/1024/1024/1024;
            devices_html += devices_mounts[i].device +"&nbsp;&nbsp;"+
                size.toFixed(2)+"GB<br>"
        }

        dl0.find('dd').eq(3).html(devices_html);

        dl1.find('dd').eq(0).html(data.data.ansible_facts.ansible_processor_cores+"核");
        dl1.find('dd').eq(1).html(data.data.ansible_facts.ansible_memtotal_mb+"MB");
        dl1.find('dd').eq(2).html(data.data.ansible_facts.ansible_swapfree_mb+"MB");
    }

</script>
{%endblock%}