{% extends "service_manager/base.html" %}
{% block title %}批量删除主机{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="{% url 'accounts:index' %}">系统首页</a>
    </li>
    <li>
        <a href="javascript: void(0);">Supervisor管理</a>
    </li>
    <li>
        <a href="{% url 'accounts:supervisor-host-index' %}">主机管理</a>
    </li>
    <li class="active">
        批量删除主机
    </li>
</ul><!-- /.breadcrumb -->
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>批量删除主机
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Host Multi Delete
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-xs-12">
        {% if form.non_field_errors %}
        <div class="clearfix">
            <div class="alert alert-danger no-margin alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>

                <i class="ace-icon fa fa-exclamation-circle bigger-120 red"></i>
                {{ form.non_field_errors.0 }}
            </div>
        </div>

        <div class="hr dotted"></div>
        {% endif %}

        <form class="form-horizontal" role="form" method="post">
            {% csrf_token %}
            <input class="hidden" name="post" value="yes">
            {% for object in object_list %}
            <input class="hidden" name="_selected_action" value="{{ object.pk }}">
            {% endfor %}
            <div class="col-md-offset-2">
                <h3>你确定要删除所有被选中的主机吗?</h3>
                <blockquote>
                    <ul class="list-unstyled">
                        {% for object in object_list %}
                        <li>
                            <i class="ace-icon fa fa-caret-right blue"></i>
                            {{ object.host }}:{{ object.port }}
                        </li>
                        {% endfor %}
                    </ul>
                </blockquote>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        确认
                    </button>
                    <a class="btn" href="{{ request.path }}" type="button">
                        <i class="ace-icon fa fa-times bigger-110"></i>
                        取消
                    </a>
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}

{% block otherjs %}
<script>
    $('#supervisor_manage').addClass('active open');
    $('#supervisor-host-manager').addClass('active');
</script>
{%endblock%}