{% extends "service_manager/base.html" %}
{% block title %}Ansible控制台{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="{% url 'accounts:index' %}">系统首页</a>
    </li>
    <li>
        <a href="javascript: void (0);">Ansible管理</a>
    </li>
    <li>
        <a href="javascript: void (0);">Ansible控制台</a>
    </li>
    <li class="active">
        服务状态
    </li>
</ul><!-- /.breadcrumb -->
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>服务状态
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Service Status
        </small>
    </h1>
</div>

<div class="row">

</div>
{% endblock %}

{% block otherjs %}
<script>
    $('#ansible_manage').addClass('active open');
    $('#ansible-control').addClass('active');

</script>
{%endblock%}